.title {
    text-align: center;
    background-color: aquamarine;
    font-size: xxx-large;
}

.right-side {
    float: right;
    margin-left: 10px;
}

.center-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

